/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Bebas Neue', cursive; */
    user-select: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.content {
    width: 100vw;
    height: 10vh;
    margin-top: 0;
    display: flex;
    align-items: center;
    background-color: #070d1f;
    z-index: 100;
    justify-content: space-evenly;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

h1 {
    letter-spacing: 5px;
    font-size: 30px;
}

.navigation ul {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
}

a {
    color: white;
    font-size: 20px;
    transition: 0.5s linear;
}

a:hover {
    letter-spacing: 2px;
    color: #3664f4;
}


/* Sweep To Right */

.swipe {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 800;
    color: blue;
    overflow: hidden;
    background: linear-gradient(to right, #3664f4 50%, white 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 500ms ease;
    text-decoration: none;
}

.swipe:hover {
    background-position: 0 100%;
}


/* @media only screen and (max-width: 700px) {
    .content {
        flex-direction: column;
        height: auto;
    }
    .navigation ul {
        width: 100vw;
    }
} */